.container{
  width: 300px;
  margin: 40px auto;
}




input{
  
}



li{
  clear: both;
  margin: 15px;
  position: relative;
}
li .edit{
  display:none;
}
li.editing .edit{
  display:block;
}
button{
  height: 30px;
  float: right;
}

input.edit{
  position: absolute;
  top: 0;
  left: 0;
  
}
